---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="HYEONBIN">

  <section class="site-hero" style="background-image: url(/images/index_background.jpg);" id="section-home" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row intro-text align-items-center justify-content-center">
        <div class="col-md-10 text-center">
          <h1 class="site-heading site-animate">Hello, I'm <strong>Hyeonbin</strong> 👋</h1>
          <p class="lead site-subheading mb-4 site-animate">안드로이드 앱을 만드는 개발자 서현빈 입니다</p>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section" id="section-about">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-lg-3 r-lg-5 mb-5 mb-lg-0">
          <img src="images/my_profile.jpeg" alt="Image placeholder" class="img-fluid">
        </div>
        <div class="col-lg-9">
          <div class="section-heading">
            <h2>Who Is <strong>Hyeonbin</strong> ?</h2>
          </div>
          <div class="detail-desc-items">
            <h5>✓&nbspKotlin·Java를 활용한 Android Mobile·TV·IVI 애플리케이션 개발</h5>
          </div>
          <div class="detail-desc-items">
            <h5>✓&nbspJetpack Compose 기반 선언형 UI 개발 및 Multi-Platform 공용 모듈 개발</h5>
          </div>
          <div class="detail-desc-items">
            <h5>✓&nbspBenz·Volvo·Polestar 등 주요 자동차 회사와 협업한 사내 최초 Android IVI 애플리케이션 개발</h5>
          </div>
          <div class="detail-desc-items">
            <h5>✓&nbsp유료 가입자 400만 이상 OTT 서비스의 화면/기능 개발, 앱 성능 개선, 광고·마케팅·데이터 로직 개발</h5>
          </div>
          <div class="detail-desc-items">
            <h5>✓&nbsp기본에 충실하면서 새로운 기술 트렌드를 적극적으로 추구하는 개발자</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section">
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-4 mb-4">
          <div class="section-heading">
            <h2><strong>Experience</strong></h2>
          </div>
        </div>
        <div class="col-md-8 mb-8">
          <h3>콘텐츠웨이브(Wavve)</h3>
          <span class="date"><span class="icon-calendar"></span> July 2022 - </span><br><br><br>
          <h3>넛지헬스케어(캐시워크)</h3>
          <span class="date"><span class="icon-calendar"></span> October 2019 - June 2022 </span><br><br><br>
          <h3>비썸(BESOME)</h3>
          <span class="date"><span class="icon-calendar"></span> October 2017 - August 2019 </span>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section">
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-4 mb-4">
          <div class="section-heading">
            <h2><strong>Education</strong></h2>
          </div>
        </div>
        <div class="col-md-8 mb-8">
          <h3>광운대학교 컴퓨터공학과 졸업</h3>
          <span class="date"><span class="icon-calendar"></span> March 2011 - February 2018 </span>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section" id="section-skills">
    <div class="container">
      <div class="row">
        <div class="section-heading text-center col-md-12">
          <h2>My <strong>Skills</strong></h2>
        </div>
      </div>
      <ul class="list-inline">
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/kotlin.jpeg">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">Kotlin</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/java.png">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">Java</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/c_lang.png">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">C Language</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/cpp_lang.png">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">C++ Language</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/android.svg" width="96" height="96">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">Android</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/compose.jpg">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">Jetpack Compose</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/git.png">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">Git</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/github.svg" width="96" height="96">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">GitHub</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/gitlab.svg" width="96" height="96">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">GitLab</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/firebase.svg" width="96" height="96">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">Firebase</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/bigquery.svg" width="96" height="96">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">BigQuery</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/braze.svg" width="96" height="96">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">Braze</div></div>
        </li>
        <li class="hvrbox">
          <img class="hvrbox-layer-bottom" src="images/icons/datadog.svg" width="96" height="96">
          <div class="hvrbox-layer_top"><div class="hvrbox-text">Datadog</div></div>
        </li>
      </ul>
    </div>
  </section>

  <section class="site-section" id="section-projects">
    <div class="container">
      <div class="row">
        <div class="section-heading text-center col-md-12">
          <h2>Featured <strong>Projects</strong></h2>
        </div>
      </div>
      <div class="row grid">
        <div class="single-portfolio col-sm-6 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <a href="wavve_detail">
                <img class="image img-fluid app-icon" src="images/icon_wavve.png" alt="">
              </a>
            </div>
          </div>
          <div class="p-inner">
            <h4>Wavve</h4>
            <div class="cat">방송과 영화, 오리지널 콘텐츠를 제공하는 국내 대표 OTT 플랫폼</div>
          </div>
        </div>
        <div class="single-portfolio col-sm-6 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <a href="cashwalkus_detail">
                <img class="image img-fluid app-icon" src="images/icon_cashwalk.png" alt="">
              </a>
            </div>
          </div>
          <div class="p-inner">
            <h4>CashWalk - Pays You Get Fit</h4>
            <div class="cat">걸음 수를 통해 리워드를 제공하는 잠금 화면 앱</div>
          </div>
        </div>
        <div class="single-portfolio col-sm-6 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <a href="momento_detail">
                <img class="image img-fluid app-icon" src="images/icon_momento.png" alt="">
              </a>
            </div>
          </div>
          <div class="p-inner">
            <h4>Momento</h4>
            <div class="cat">배너 ・ 네이티브 ・ 비디오 광고 송출이 가능한 SDK</div>
          </div>
        </div>
        <div class="single-portfolio col-sm-6 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <a href="timespread_detail">
                <img class="image img-fluid app-icon" src="images/icon_timespread.png" alt="">
              </a>
            </div>
          </div>
          <div class="p-inner">
            <h4>TimeSpread</h4>
            <div class="cat">스마트폰을 사용하지 않은 시간을 리워드로 제공하는 잠금 화면 앱</div>
          </div>
        </div>
        <div class="single-portfolio col-sm-6 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <a href="arduino_detail">
                <img class="image img-fluid app-icon" src="images/sketch_ino_app_icon.png" alt="">
              </a>
            </div>
          </div>
          <div class="p-inner">
            <h4>Sketchware for Arduino</h4>
            <div class="cat">블록형 프로그래밍 언어를 기반으로 아두이노를 제어하는 앱</div>
          </div>
        </div>
        <div class="single-portfolio col align-self-center all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <a href="android_detail">
                <img class="image img-fluid app-icon" src="images/sketch_app_icon.png" alt="">
              </a>
            </div>
          </div>
          <div class="p-inner">
            <h4>Sketchware for Android</h4>
            <div class="cat">블록형 프로그래밍 언어를 기반으로 안드로이드 앱을 제작하는 앱</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section" id="section-contact">
    <div class="container">
      <div class="row">
        <div class="section-heading text-center col-md-12">
          <h2><strong>Contact</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="social-items col-md-4 text-center">
          <div class="social-icons">
            <a href="tel:010-6722-0655"><i class="fas fa-phone"></i></a>
          </div>
          <div>+82 (010) 6722-0655</div>
        </div>
        <div class="social-items col-md-4 text-center">
          <div class="social-icons">
            <a href="mailto:hyeonbin6363@gmail.com"><i class="fas fa-envelope"></i></a>
          </div>
          <div>hyeonbin6363@gmail.com</div>
        </div>
        <div class="social-items col-md-4 text-center">
          <div class="social-icons">
            <a href="https://github.com/hyeonbinni/"><i class="fab fa-github"></i></a>
          </div>
          <div>github.com/hyeonbinni</div>
        </div>
      </div>
    </div>
  </section>

</MainLayout>
