---
import DetailLayout from '../layouts/DetailLayout.astro';
---
<DetailLayout title="Wavve">

  <section class="site-section" id="section-project-info">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-6 pr-lg-5 mb-5 mb-lg-0">
          <div class="device-wrapper">
            <div class="device" data-device="Pixel" data-orientation="portrait" data-color="black">
              <div class="screen">
                <img src="/images/wavve_main.gif" class="sketch-main-img">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="section-heading">
            <h2><strong>Wavve</strong></h2>
          </div>
          <p><span class="date"><span class="icon-calendar"></span> July 2022 - </span></p>
          <p class="lead">방송과 영화, 오리지널 콘텐츠를 제공하는 국내 대표 OTT 플랫폼</p>
          <p class="mb-5">
          </p>
          <a href="https://play.google.com/store/apps/details?id=kr.co.contentswavve.contentswavve">
            <img src="/images/icons/google_play_badge.png" class="img-fluid google-play-badge">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section bg-light" id="section-works">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="section-heading text-center">
            <h2>My <strong>Works</strong></h2>
          </div>
        </div>
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </section>

</DetailLayout>
